.Page {
  background-color: #dedede;
  font-family: 'Merriweather', serif;
  color: #000000;
  min-height: 100%;
  font-size: 0.9em;
}

.CaptionTitle {
  font-size: 1.2em;
  text-transform: uppercase;
}

.CaptionSubTitle {
  margin-top: 0.1em;
}

.CaptionButton {
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid;
  font-size: 1.1em;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.Button {
  border-radius: 0.4em;
  background: transparent;
  border: 1px solid;
  font-size: 1.1em;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.BlogButton {
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid;
  font-size: 1.1em;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.Border {
  padding-bottom: 1em;
  border-top: 1px solid;
  width: 100%;
}

.Link {
  text-decoration: none;
}

.Header {
  font-size: 1.8em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}

.LongText {
  line-height: 1.8em;
}

.BlogPost {
  max-width: 1200px;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding-top: 2.5em;
  padding-bottom: 5em;
  border-color: #dedede;
  border-bottom-width: 1px;
  border-top-width: 0;
}

.BlogHeader {
  font-size: 1.8em;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.1em;
}

.BlogDate {
  margin-top: 0.2em;
  align-self: center;
}

.BlogTags {
  margin-top: 1em;
  align-self: center;
  color: #999999;
}

.BlogText {
  margin-top: 2em;
  margin-bottom: 2em;
  line-height: 1.8em;
}

.BlogShare {
  align-self: center;
  margin-top: 2em;
}

.BlogCommentIcon {
  align-self: center;
  margin-top: 0.6em;
  font-size: 2.6em;
}

.ClientGallery {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.ClientGalleryHeader {
  font-size: 1.8em;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.1em;
}

.ClientGalleryDate {
  margin-top: 0.2em;
  align-self: center;
}

.ClientGalleryText {
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 900px;
  line-height: 1.8em;
}

.ClientGallerySearchRow {
  margin-bottom: 5em;
  max-width: 900px;
  align-self: center;
}

.ClientGalleryIcons {
  align-self: center;
  margin-top: 0.6em;
  font-size: 2.8em;
}

.Store {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.StoreHeader {
  font-size: 1.8em;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.1em;
}

.StoreText {
  margin-top: 2em;
  margin-bottom: 4em;
  max-width: 900px;
  line-height: 1.8em;
}

.StoreFilterRow {
  max-width: 900px;
  margin-bottom: 4rem;
}

.StoreFigureTitle {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.StoreFigureSubTitle {
  font-size: 1em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.ClientGalleryFigureTitle {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.BlogFigureTitle {
  font-size: 1.1em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.BlogFigureSubTitle {
  font-size: 1em;
  margin-bottom: 0.2em;
  text-transform: uppercase;
}

.StoreFigurePrice {
  font-size: 1.1em;
}

.Product {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.ProductHeader {
  font-size: 1.8em;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.1em;
}

.ProductSubHeader {
  font-size: 1.1em;
  align-self: center;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.ProductPrice {
  font-size: 1.1em;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.1em;
  margin-top: 0.5em;
}

.ProductCategories {
}

.ProductBreadCrumbs {
  color: #999999;
  margin-bottom: 3vh;
  max-width: 900px;
}

.ProductText {
  margin-top: 3em;
  margin-bottom: 3em;
  max-width: 900px;
  line-height: 1.8em;
}

.ProductShare {
  align-self: center;
  margin-bottom: 4em;
}

.ProductButton {
  border-radius: 0.5em;
  background: transparent;
  border: 1px solid;
  font-size: 0.9em;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 1.4em;
}

.ProductVariants {
  margin-top: 1em;
  min-width: 130px;
}

.aFigcaption {
  background-color: #dedede
}

body {
  background-color: #dedede
}

<
/
style > < style type

=
"text/css"
> <

/
style > < style type

=
"text/css"
> .LongText a {
  text-decoration: underline;
}

.LongText a:hover {
  color: #999999;
}

.Link a:hover {
  text-decoration: underline;
}

.Logo a:hover {
  color: #555555;
}

.Button a:hover {
  color: #555555;
}

.MainMenuLinks a:hover {
  text-decoration: underline;
}

.MainMenuLinks a.router-link-exact-active {
  text-decoration: underline;
}

.SocialMedia a:hover {
  color: #999999;
}

.Links a:hover {
  text-decoration: underline;
}